<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/vendor/bootstrap.min.css" rel="stylesheet">
<link href="css/default.css" rel="stylesheet">
<title>{{ data.title }}</title>
</head>