<nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="/">{{ data.navbrand }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto">
      {{#each data.topnavs}}
        <li class="nav-item"><a class="nav-link" href="{{this.href}}">{{this.title}}</a></li>
      {{/each}}
    </ul>
    {{#if data.user}}
    <ul class="navbar-nav">
      <li class="nav-item"><a class="btn btn-danger" href="/user/logout">Logout</a></li>
    </ul>
    {{/if}}
  </div>
</nav>