<main>
  <div class="row pt-2">
    <div class="container">
      <h3>Works
        <button class="btn btn-outline-success">Add</button>
      </h3>
    </div>
  </div>
    <div class="row py-2 mb-5">
    <div class="container">
      <div class="row">
        <div class="col card m-2"><img class="card-img-top" src="/img/background.jpg" alt="thumb image">
          <div class="card-header">
            <h5>Works one</h5>
            <div class="btn-group" role="group">
              <button class="btn btn-warning" type="button">Edit</button>
              <button class="btn btn-danger" type="button">Delete</button>
            </div>
          </div>
          <div class="card-body">
            <div class="card-title">https://loll.info</div>
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet tortor maximus, pretium libero id, vehicula neque. Aliquam leo felis, commodo in libero eget, dignissim pulvinar est. Maecenas volutpat nisi viverra, molestie tortor id, dictum nisl. Donec lacus urna, congue ut tellus vel, maximus rhoncus ligula. Morbi varius eget elit quis posuere. </div>
          </div>
        </div>
        <div class="col card m-2"><img class="card-img-top" src="/img/background.jpg" alt="thumb image">
          <div class="card-header">
            <h5>Works one</h5>
            <div class="btn-group" role="group">
              <button class="btn btn-warning" type="button">Edit</button>
              <button class="btn btn-danger" type="button">Delete</button>
            </div>
          </div>
          <div class="card-body">
            <div class="card-title">https://loll.info</div>
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet tortor maximus, pretium libero id, vehicula neque. Aliquam leo felis, commodo in libero eget, dignissim pulvinar est. Maecenas volutpat nisi viverra, molestie tortor id, dictum nisl. Donec lacus urna, congue ut tellus vel, maximus rhoncus ligula. Morbi varius eget elit quis posuere. </div>
          </div>
        </div>
        <div class="col card m-2"><img class="card-img-top" src="/img/background.jpg" alt="thumb image">
          <div class="card-header">
            <h5>Works one</h5>
            <div class="btn-group" role="group">
              <button class="btn btn-warning" type="button">Edit</button>
              <button class="btn btn-danger" type="button">Delete</button>
            </div>
          </div>
          <div class="card-body">
            <div class="card-title">https://loll.info</div>
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet tortor maximus, pretium libero id, vehicula neque. Aliquam leo felis, commodo in libero eget, dignissim pulvinar est. Maecenas volutpat nisi viverra, molestie tortor id, dictum nisl. Donec lacus urna, congue ut tellus vel, maximus rhoncus ligula. Morbi varius eget elit quis posuere. </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col card m-2"><img class="card-img-top" src="/img/background.jpg" alt="thumb image">
          <div class="card-header">
            <h5>Works one</h5>
            <div class="btn-group" role="group">
              <button class="btn btn-warning" type="button">Edit</button>
              <button class="btn btn-danger" type="button">Delete</button>
            </div>
          </div>
          <div class="card-body">
            <div class="card-title">https://loll.info</div>
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet tortor maximus, pretium libero id, vehicula neque. Aliquam leo felis, commodo in libero eget, dignissim pulvinar est. Maecenas volutpat nisi viverra, molestie tortor id, dictum nisl. Donec lacus urna, congue ut tellus vel, maximus rhoncus ligula. Morbi varius eget elit quis posuere. </div>
          </div>
        </div>
        <div class="col card m-2"><img class="card-img-top" src="/img/background.jpg" alt="thumb image">
          <div class="card-header">
            <h5>Works one</h5>
            <div class="btn-group" role="group">
              <button class="btn btn-warning" type="button">Edit</button>
              <button class="btn btn-danger" type="button">Delete</button>
            </div>
          </div>
          <div class="card-body">
            <div class="card-title">https://loll.info</div>
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet tortor maximus, pretium libero id, vehicula neque. Aliquam leo felis, commodo in libero eget, dignissim pulvinar est. Maecenas volutpat nisi viverra, molestie tortor id, dictum nisl. Donec lacus urna, congue ut tellus vel, maximus rhoncus ligula. Morbi varius eget elit quis posuere. </div>
          </div>
        </div>
        <div class="col card m-2"><img class="card-img-top" src="/img/background.jpg" alt="thumb image">
          <div class="card-header">
            <h5>Works one</h5>
            <div class="btn-group" role="group">
              <button class="btn btn-warning" type="button">Edit</button>
              <button class="btn btn-danger" type="button">Delete</button>
            </div>
          </div>
          <div class="card-body">
            <div class="card-title">https://loll.info</div>
            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet tortor maximus, pretium libero id, vehicula neque. Aliquam leo felis, commodo in libero eget, dignissim pulvinar est. Maecenas volutpat nisi viverra, molestie tortor id, dictum nisl. Donec lacus urna, congue ut tellus vel, maximus rhoncus ligula. Morbi varius eget elit quis posuere. </div>
          </div>
        </div>
      </div>
    </div>
</main>